@model SweetandSavory.Models.Treat;
@using SweetandSavory.Models;

<h2>Treat Details</h2>
<hr />
<h3>Treat: @Html.DisplayFor(model => model.TreatName)</h3>

@if(@Model.Flavor.Count == 0)
{
  <p>This category does not have any flavors associated to it.</p>
}
else{
  <h4>These treats are offered in the following flavors:</h4>
  <ul>
    @foreach(var join in Model.Flavor)
    {
    <h3>Flavor: @Html.ActionLink($"{@join.Flavor.FlavorName}", "Details", "Flavors", new {id = @join.FlavorId })</h3>
    }
  </ul>
} 

<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId})</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
