@model SweetandSavory.Models.Treat;
@using SweetandSavory.Models;

<h2>Treat Details</h2>
<hr />
<h3>Treat: @Html.DisplayFor(model => model.TreatName)</h3>

@foreach(var join in Model.Flavor)
{
<h3>Treat: @Html.ActionLink($"{@join.Flavor.FlavorName}", "Details", "Flavors", new {id = @join.FlavorId })</h3>
    
} 

<p>@Html.ActionLink("Add a new flavor", "Create", new { id = Model.TreatId})</p>

<p>@Html.ActionLink("Add an existing flavor", "AddFlavor", new { id = Model.TreatId})</p>